#pageContainer
{
	display: table;
}

#sideMenu
{
	display: table-cell;
	width: 20%;
	padding: 0 30px;
    text-align: center;
}

.menuItem
{
	display: block;
	background-color: #DDD;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	padding: 25px;
	margin: 20px 0;
}

.menuItem:hover
{
	background-color: #9F9;
}

#profileBlock
{
	padding: 30px;
	background-color: #EFE;
	font-weight: bold;
}

#profileBlock img
{
	width: 70%;
	padding-bottom: 20px;
}

#userContent
{
	display: table-cell;
	padding: 0 2%;
}

.accent 
{
	border: 3px solid rgba(255, 0, 0, 0.224);
	border-radius: 10px;
	padding: 15px;
}

.reglament_header
{
	text-align: center;
}

.reglament_div
{
	font-size: 16px;
}

.reglament_div p
{
	font-weight: 500;
}

.polytech_mail, .lobanov_site 
{
	color: #0000EE;
	text-decoration: none;
	transition: 0.5s;
}

.polytech_mail:hover, .lobanov_site:hover 
{
	transition: 0.5s;
	text-decoration: underline;
}

.polytech_mail:visited, .lobanov_site:visited 
{
	color: #ba2bb5;
}

.reglament_table, tr, td
{
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

.rules
{
	font-weight: 500;
}

.rules li 
{
	margin-top: 5px;
}
